<html>
<head>
<!-- Bootstrap CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="App/lib/angular.js"></script>
  <script src="App/App.js"></script>
  <script src="App/directives/directives.js"></script>
  <style type="text/css">
.bs-callout {
padding: 10px;
margin: 10px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
}
.bs-callout-info {
border-left-color: #5bc0de;
}
h4{
  cursor: pointer;
}
  </style>

</head>
<body ng-app="DirectiveDemo">
  <div ng-controller="DemoCtrl">
  <div class="container">
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>AngularJs Directive Demo</h1>
      <p class="pull-right">By :- Thejas Gowda</p>
      <p>
        <a class="btn btn-primary btn-lg">Learn more</a>
      </p>
    </div>
  </div>
</div>


  <div class="container">
  <div class="bs-callout bs-callout-info" id="id1">
    <h4 data-toggle="collapse" data-target="#demo1">restrict</h4>
    <p>resctrict : E A C</p>
  </div>
   
        
      <div id="demo1" class="collapse">
        <code>return {
    restrict:'A',
  template:'Heading 1'
  };</code>
    <h1 data-heading1></h1>
     <code>return {
    restrict:'E',
    template:'&lt;h2&gt;Heading 2 {{Name}}&lt;/h2&gt;'
    
  };</code>
   <heading2></heading2>
      </div>
    
    </div>

   
    
   

<div class="container">
<div class="bs-callout bs-callout-info" id="id2">
    <h4 data-toggle="collapse" data-target="#demo2">template and templateUrl</h4>
    <p>template : ' html content' </p>
  </div>
       
      <div id="demo2" class="collapse">
        <code> return {
    restrict:'AEC',//@A attribute, @E element,@C class
    templateUrl:'views/templates/heading3.html'
  };</code>
     
    
      </div>
    </div>

   
  <div class="container">
  <div class="bs-callout bs-callout-info" id="id3">
    <h4  data-toggle="collapse" data-target="#demo3">scope</h4>
    <p>scope:{} </p>
  </div>
         <div id="demo3" class="collapse">
        <code>  scope:{
      myInfo: '=info'
    }</code>
     
    <scope1 info="Details"></scope1>
<scope2 info="Details"></scope2>

      </div>
    </div>


<div class="container">
 <div class="bs-callout bs-callout-info" id="id3">
    <h4 data-toggle="collapse" data-target="#demo4">Transclude example</h4>
    <p>Transclude makes the contents of a directive with this option have access to the scope outside of the directive rather than inside.
 </p>
  </div>
           <div id="demo4" class="collapse">
        <code> return {
    restrict:'E',
    transclude:true,
    template:"&ltdiv&gt&ltinput&gt ng-model='Details.Address'/&gt&ltdiv&gt ng-transclude>&lt/div&gt&lt/div&gt"
  };</code>
     
    <heading6 info="Details">
    <div>The Address is : {{Details.Address}}</div>
    </heading6>
      </div>
    </div>


   <div class="container">
 <div class="bs-callout bs-callout-info" id="id3">
    <h4 data-toggle="collapse" data-target="#demo5">Link function example</h4>
<p> </p>
  </div>
           <div id="demo5" class="collapse">
        <code> </code>
     <div class="container">
    <div class="row"> Enter Only integer
<input only-integer ng-model='Value'/>
</div>
<p></p>
<div class="row">
  <form name='TestForm'>
    <input name='input1' max-value='10' ng-model='Value2' required/>
    <div ng-show='TestForm.input1.$error.required'>Required field </div>
    <div ng-show='TestForm.input1.$error.greaterValidation'>Please enter less than  or equal to 10 </div>
  </form>
</div>
</div>
      </div>
    </div>

  
</div>
  </div>


</body>
</html>
